<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="GestorMerchandisingDB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=GestorMerchandising;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
	<add key="UICulture" value="es-AR"/>
    <add key="EncryptionKey" value="GestorMerchandising2024!Key" />
    <add key="EncryptionMethod" value="AES256" />
    <add key="LogPath" value="logs\" />
    <add key="LogToFile" value="true" />
    <add key="LogLevel" value="Info" />
    <add key="LogToDatabase" value="true" />
    <add key="BackupPath" value="backups\" />
    <add key="AutoBackupEnabled" value="true" />
    <add key="BackupIntervalHours" value="24" />
    <add key="DefaultLanguage" value="es-AR" />
    <add key="SupportedLanguages" value="es-AR,en-US" />
    <add key="SessionTimeoutMinutes" value="30" />
    <add key="MaxFailedLoginAttempts" value="3" />
    <add key="PasswordMinLength" value="8" />
    <add key="CompanyName" value="The Dog Footprint" />
    <add key="ApplicationVersion" value="1.0.0" />
    <add key="Environment" value="Development" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=localhost\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>